body {
  /*background-color: #efefef;*/
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

html,
body {
  background-color: #FAFAFA;
  height: 100%;
}

.lnr {
  color: #515151;
  font-size: 24px;
}

.status-error { color: red; }
.status-warn { color: orange; }
.status-debug { color: gray; }

/*.login-page {*/
  /*background-color: #008888;*/
  /*color: white;*/
/*}*/

.login-page img {
  max-width: 200px;
}

.login-page button {
  color: white;
}

/*md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {*/
  /*color: #c1c1c1;*/
/*}*/

/*md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {*/
  /*background-color: transparent;*/
/*}*/

/*md-toolbar .md-button.active md-icon {*/
  /*color: #515151;*/
/*}*/

/*md-toolbar .md-button:hover md-icon {*/
  /*color: #515151;*/
/*}*/

md-input-container.search .md-errors-spacer {
  /*float: right;*/
  /*min-height: 0px;*/
  /*min-width: 0px;*/
  display: none;
}

h1 {
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding-bottom: 1em;
    line-height: 1.2em;
}

md-content > form > div {
  background-color: white;
}

md-input-container {
    padding: 0;
    padding-bottom: 8px;
}

md-input-container label:not(.md-container-ignore) {
    position: relative;
    bottom:auto;
}

md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-cyan-theme label, md-input-container label, md-input-container.md-cyan-theme:not(.md-input-invalid).md-input-has-value label {
    color:black;
}

md-input-container.md-cyan-theme:not(.md-input-invalid).md-input-focused label {
    color:#0E98AF;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: black;
}

md-content.md-cyan-theme, md-content {
    color:black;
}

md-select.md-cyan-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: black;
}

md-sidenav {
    width: 500px;
}

@media (min-width: 600px) {
    md-sidenav {
        max-width: 500px;
    }
}

.fc-toggle {
    margin: 8px;
    background-color: white;
    border: solid 1px #dedede;
    padding: 8px;
    box-shadow: none;
    cursor: pointer;
    min-height: 90px;
}

@media screen and (min-width:960px) {
    .fc-left {
        padding-right:10px;
    }
}

.fc-toggle.selected {
    /*box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);*/
    background-color: #0E98AF;
    color: white;
    border: solid 1px #0E98AF;
}

layout-padding>p, .layout-padding>p  {
    margin-top: 0;
    margin-bottom: 1em;
}

/*md-input-container .md-input, .md-input.fri3d, textarea.md-input.fri3d, input.md-input.fri3d  {
    border-color:#0E98AF;
    border:2px solid;
}*/
.hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: #493F3A;
}

.fc-hint {
    font-size: 12px;
    line-height: 14px;
    margin-top:4px;
    color: #493F3A;
}

@media (min-width: 700px) {
    .mainwrapper {
        padding-left:10%;padding-right:10%
    }
}
@media (min-width: 1200px) {
    .mainwrapper {
        padding-left:20%;padding-right:20%
    }
}

input.fri3d, textarea.fri3d, md-input-container .md-input.fri3d, md-input-container textarea.md-input.fri3d, md-input-container input.md-input.fri3d, md-input-container.md-cyan-theme:not(.md-input-invalid).md-input-focused .md-input.fri3d, md-input-container.md-cyan-theme .md-input[disabled] {
  background-color: #E4F1F5;
  border: 0px;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:1px;
  border-left: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-width: 2px;
  border-color: #E9F1F7;
}

.md-input-invalid input.fri3d, textarea.fri3d,  md-input-container .md-input.ng-invalid.ng-dirty {
    border-color: rgb(221,44,0);
    border-left: 2px solid rgb(221,44,0);
    border-top: 2px solid rgb(221,44,0);
    border-bottom: 2px solid rgb(221,44,0);
    border-right: 2px solid rgb(221,44,0);
    border-width: 2px;
    padding-bottom:4px;
}

md-input-container .md-errors-spacer {
  min-height: 0;
}


md-input-container .md-errors-spacer {
  min-height: 0;
}

div.extended.info {
  margin-left: 50px;
}

div.download.pdf {
  font-size: 75%;
  text-align: center;
  float: left;
  margin: 15px;
  width: 110px;
}

md-switch + span {
    display: block;
    position: relative;
    left: 50px;
    top: -27px;
    width: 90%;
}

A {
  color: #006E7F;
}

.mainwrapper.layout-margin.layout-align-start-center.layout-row {
  margin: 0px;
}

@-moz-document url-prefix() {
  div.header.caption {
    margin-top: 11px;
  }
}

.large-button {
  width: 240px;
  height: 70px;
  padding-top: 17px;
  margin: 0px;
  margin-bottom: 5px;
}

.btn-icon {
  margin-left: 10px;
  fill:white;
}

/* styling to mimic initial angular styling of cards */

.card-block {
  padding: 15px;
}

.card {
  font-family: Open Sans;
  border: none;
  margin-bottom: 10px;
}

.card.light {
  background-color: #00C9D2;
}

.card.dark {
  background-color: #006F7D;
  color: #fff;
}

.card-title {
  font-family: Montserrat;
  font-size: 24px;
  margin-top: 15px;
}

.card-subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

img.card-img-right {
  width: 80px;
  height: 80px;
  float: right;
}
