<md-toolbar md-scroll-shrink  class="md-primary" style="background-image:url('/assets/header_forest.jpg')" >
  <div class="md-toolbar-tools">
      <img hide-xs height="60%" src='/assets/minibrand.svg' alt='Fri3d Camp' style="margin-right:20px;" />
      <div layout="column">
      <h1>Fri3d Camp 2018</h1>
      <span class="md-caption">{{ 'SUBMISSION_CAPTION' | translate }}</span>
      </div>
      <span flex></span>
      <md-button aria-label="www.fri3d.be">
          www.fri3d.be
      </md-button>
  </div>
</md-toolbar>

<div layout="row">
    <md-content flex>
    <div layout="row" layout-margin layout-align="start center" class="mainwrapper">
        <form layout="column" name="userForm" layout-margin md-block flex>
            <section layout="column">
                <div layout="row" layout-align="end center">
                    <div layout="row" layout-align="center center">
                        <span style="margin-right: 10px;">NL</span>
                        <md-switch flex class="md-primary" ng-change="vm.toggleLanguage()" ng-model="vm.translate" aria-label="Translate form to English"></md-switch>
                        <span style="margin-left: 10px;">EN</span>
                    </div>
                </div>
                <div layout-gt-sm="row">
                    <p>
                        {{ 'SUBMISSION_INTRO' | translate }}
                    </p>
                </div>
            </section>

            <section id="type_section">
                <div layout="column">
                    <h1>{{ 'SUBMISSION_TITLE' | translate }}</h1>
                    <p>
                        {{ 'SUBMISSION_DESC' | translate }}
                    </p>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <div layout="column" class="fc-toggle" ng-click="vm.submission.type = 'PRESENTATION'" ng-class="{'selected': vm.submission.type == 'PRESENTATION'}">
                        <h4 class="md-title">{{ 'TYPE_PRESENTATION' | translate }}</h4>
                        <p>{{ 'TYPE_PRESENTATION_DESC' | translate }}</p>
                    </div>
                    <div layout="column" class="fc-toggle" ng-click="vm.submission.type = 'WORKSHOP'" ng-class="{'selected': vm.submission.type == 'WORKSHOP'}">
                        <h4 class="md-title">{{ 'TYPE_WORKSHOP' | translate }}</h4>
                        <p>{{ 'TYPE_WORKSHOP_DESC' | translate }}</p>
                    </div>
                    <div layout="column" class="fc-toggle" ng-click="vm.submission.type = 'OTHER'" ng-class="{'selected': vm.submission.type == 'OTHER'}">
                        <h4 class="md-title">{{ 'TYPE_OTHER' | translate }}</h4>
                        <p>{{ 'TYPE_OTHER_DESC' | translate }}</p>
                    </div>
                </div>
                <md-tooltip md-delay="demo.delayTooltip" ng-if="!vm.submission.type">
                  {{ 'TYPE_SELECT_PROMPT' | translate }}
                </md-tooltip>
            </section>

            <section id="basic_info_section" ng-if="vm.submission.type">
                <p class="fc-section-summary">{{ 'BASIC_INFO_SECTION_SUMMARY' | translate }}</p>

                <div class="fc-section-body">
                    <div layout-gt-sm="row">
                      <md-input-container md-no-float class="md-block" flex-gt-sm>
                          <label class="md-no-float">{{ 'TITLE' | translate }}</label>
                          <input ng-model="vm.submission.title" >
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container md-no-float class="md-block" flex-gt-sm>
                          <label class="md-no-float">{{ 'SUMMARY' | translate }}</label>
                          <textarea ng-model="vm.submission.summary" md-maxlength="150" rows="2"></textarea>
                      </md-input-container>
                    </div>
                </div>
            </section>

            <section id="speaker_section" ng-if="vm.submission.type">
                <h1 class="fc-section-title">{{ 'SPEAKER_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary" ng-bind-html="'SPEAKER_SECTION_SUMMARY' | translate"></p>
                <div class="fc-section-body">
                    <div layout-gt-sm="row">
                        <md-input-container md-no-float class="md-block" flex-gt-xs>
                            <label class="md-no-float">{{ 'NAME' | translate }}</label>
                            <input ng-model="vm.submission.speaker_name">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block" flex-gt-xs>
                            <label class="md-no-float">{{ 'EMAIL' | translate }}</label>
                            <input ng-model="vm.submission.speaker_email">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container md-no-float class="md-block" flex-gt-sm>
                            <label class="md-no-float">Bio</label>
                            <textarea ng-model="vm.submission.speaker_bio" md-maxlength="150" rows="3"></textarea>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container md-no-float class="md-block" flex-gt-sm>
                            <label class="md-no-float">{{ 'ASSOCIATED' | translate }}</label>
                            <input ng-model="vm.submission.speaker_associated_hackerspaces">
                        </md-input-container>
                    </div>

                  <section id="availability_subsection" ng-if="vm.submission.type">
                    <h2 class="fc-section-title">{{ 'AVAILABILITY_SECTION_TITLE' | translate }}</h2>
                    <p class="fc-section-summary">{{ 'AVAILABILITY_SECTION_SUMMARY' | translate }}</p>

                    <div layout="column" layout-gt-xs="row" layout-align="start start">
                        <md-switch flex class="md-primary" ng-model="vm.submission.day_1_available">{{ 'DAY_ONE' | translate }}</md-switch>
                        <div layout="row" flex-gt-xs>
                            <md-input-container md-no-float class="md-block" flex-gt-xs>
                                <label class="md-no-float">{{ 'FROM' | translate }}</label>
                                <input type="number" ng-model="vm.submission.day_1_from" min="9" max="21" ng-disabled="!vm.submission.day_1_available">
                            </md-input-container>
                            <md-input-container md-no-float class="md-block" flex-gt-xs>
                                <label class="md-no-float">{{ 'UNTIL' | translate }}</label>
                                <input type="number" ng-model="vm.submission.day_1_until" min="9" max="21" ng-disabled="!vm.submission.day_1_available">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column"  layout-gt-xs="row" layout-align="start start">
                        <md-switch flex class="md-primary" ng-model="vm.submission.day_2_available">{{ 'DAY_TWO' | translate }}</md-switch>
                        <div layout="row" flex-gt-xs>
                            <md-input-container md-no-float class="md-block" flex-gt-xs>
                                <label class="md-no-float">{{ 'FROM' | translate }}</label>
                                <input type="number" ng-model="vm.submission.day_2_from" min="9" max="21" ng-disabled="!vm.submission.day_2_available">
                            </md-input-container>
                            <md-input-container md-no-float class="md-block" flex-gt-xs>
                                <label class="md-no-float">{{ 'UNTIL' | translate }}</label>
                                <input type="number" ng-model="vm.submission.day_2_until" min="9" max="21" ng-disabled="!vm.submission.day_2_available">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" layout-gt-xs="row" layout-align="start start">
                        <md-switch flex class="md-primary" ng-model="vm.submission.day_3_available">{{ 'DAY_THREE' | translate }}</md-switch>
                        <div layout="row" flex-gt-xs>
                            <md-input-container md-no-float class="md-block" flex-gt-xs>
                                <label class="md-no-float">{{ 'FROM' | translate }}</label>
                                <input type="number" ng-model="vm.submission.day_3_from" min="9" max="21" ng-disabled="!vm.submission.day_3_available">
                            </md-input-container>
                            <md-input-container md-no-float class="md-block" flex-gt-xs>
                                <label class="md-no-float">{{ 'UNTIL' | translate }}</label>
                                <input type="number" ng-model="vm.submission.day_3_until" min="9" max="21" ng-disabled="!vm.submission.day_3_available">
                            </md-input-container>
                        </div>
                    </div>

                    <div layout="row" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
                        <md-switch flex class="md-primary" ng-model="vm.submission.open_for_repetitions" aria-label="Open for repetitions">{{ 'REPETITION_OPTION' | translate }}</md-switch>
                    </div>
                  </section>
                </div>
            </section>

            <section id="activity_section" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
              <h1 class="fc-section-title">{{ 'ACTIVITY_SECTION_TITLE' | translate }}</h1>
              <p class="fc-section-summary">{{ 'ACTIVITY_SECTION_SUMMARY' | translate }}</p>

              <section id="target_audience_section" ng-if="vm.submission.type">
                <h2 class="fc-section-title">{{ 'AUDIENCE_SECTION_TITLE' | translate }}</h2>
                <p class="fc-section-summary">{{ 'AUDIENCE_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body" layout="column">
                    <div layout="column" layout-gt-xs="row">
                      <md-input-container md-no-float class="md-block" flex-gt-xs>
                        <label class="md-no-float">{{ 'AUDIENCE_TYPE_LABEL' | translate }}</label>
                        <md-checkbox ng-checked="vm.inList(level, vm.submission.audience_level)"
                                     ng-click="vm.toggle(level, vm.submission.audience_level)"
                                     ng-repeat="level in vm.audienceLevels"
                                     flex-gt-sm>
                            {{ level | translate}}
                        </md-checkbox>
                      </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container md-no-float class="md-block" flex-gt-xs>
                            <label class="md-no-float">{{ 'AUDIENCE_REQUIREMENTS_LABEL' | translate }}</label>
                            <textarea ng-model="vm.submission.audience_requirements" rows="3"  md-maxlength="150"></textarea>
                        </md-input-container>
                    </div>
                </div>
              </section>

              <section id="location_section" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
                <h1 class="fc-section-title">{{ 'LOCATION_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'LOCATION_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-input-container md-no-float class="md-block" flex-gt-sm>
                        <label class="md-no-float">{{ 'LOCATION_LABEL' | translate }}</label>
                        <textarea ng-model="vm.submission.location_special_requirements" md-maxlength="150" rows="3"></textarea>
                    </md-input-container>
                </div>
              </section>

              <section id="language_support" ng-if="vm.lang === 'en' && vm.submission.type && (vm.submission.type == 'WORKSHOP' || vm.submission.type == 'OTHER')">
                <h1 class="fc-section-title">{{ 'LANGUAGE_SUPPORT_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'LANGUAGE_SUPPORT_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-switch flex="50" class="md-primary" ng-model="vm.submission.dutch_support" aria-label="Need Dutch language support?">{{ 'LANGUAGE_SUPPORT_OPTION' | translate }}</md-switch>
                </div>
              </section>

              <section id="capacity" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
                <h1 class="fc-section-title">{{ 'CAPACITY_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'CAPACITY_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-input-container md-no-float class="md-block" flex="33">
                        <label class="md-no-float">{{ 'AMOUNT_AUDIENCE' | translate }}</label>
                        <input type="number" ng-model="vm.submission.activity_participant_limit" min="0">
                    </md-input-container>
                </div>
              </section>

              <section id="sessions_section" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
                <h1 class="fc-section-title">{{ 'SESSIONS_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'SESSIONS_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-input-container md-no-float flex="33">
                        <label class="md-no-float">{{ 'AMOUNT_SESSIONS' | translate }}</label>
                        <input type="number" ng-model="vm.submission.session_count" min="0">
                    </md-input-container>
                </div>
              </section>

              <section id="format_section" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
                <h1 class="fc-section-title">{{ 'FORMAT_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'FORMAT_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-radio-group ng-model="vm.submission.format">
                        <md-radio-button ng-repeat="type in vm.formatTypes" ng-value="type">{{ type | translate }}</md-radio-button>
                    </md-radio-group>
                </div>
              </section>

            </section>

            <section id="collaborators_section" ng-if="vm.submission.type">
                <h1 class="fc-section-title">{{ 'COLLABORATORS_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'COLLABORATORS_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-whiteframe class="md-whiteframe-1dp" flex>
                    <md-list flex>
                        <md-list-item layout="row" layout-align="start center" flex >
                                <span class="md-body-2" flex>{{ 'NAME' | translate }}</span>
                                <span class="md-body-2" flex>{{ 'EMAIL' | translate }}</span>
                                <md-button class="md-icon-button md-primary" ng-click="vm.showNewCollaboratorDialog($event)">
                                    <md-icon md-font-icon="lnr-plus-circle" class="lnr"></md-icon>
                                </md-button>
                        </md-list-item>
                        <!--<md-list-item layout="column" layout-align="center center" ng-if="!vm.submission.collaborators || vm.submission.collaborators.length < 1" >-->
                            <!--<md-button class="md-raised md-primary" ng-click="vm.showNewCollaboratorDialog($event)">-->
                                <!--{{ 'COLLABORATORS_ADD_BUTTON' | translate }}-->
                            <!--</md-button>-->
                        <!--</md-list-item>-->
                        <md-list-item layout="row" layout-align="start center" ng-repeat="collaborator in vm.submission.collaborators" ng-click="vm.editCollaborator($event, collaborator)" flex>
                            <span class="md-body-1" flex>{{ collaborator.name }}</span>
                            <span class="md-body-1" flex>{{ collaborator.email }}</span>
                            <md-button class="md-icon-button md-warn" ng-click="vm.removeCollaborator($event, collaborator)">
                                <md-icon md-font-icon="lnr-trash" class="lnr"></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-whiteframe>
                </div>
            </section>

            <section id="duration_section" ng-if="vm.submission.type">
                <h1 class="fc-section-title">{{ 'DURATION_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'DURATION_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <div layout-gt-sm="row">
                        <md-input-container flex>
                            <label>{{ 'ACTIVITY_DURATION_LABEL' | translate }}</label>
                            <input flex type="number" ng-model="vm.submission.activity_duration" aria-label="Activity Duration (in minutes)" min="0">
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="column" ng-if="vm.submission.format && vm.submission.format !== 'FULLTIME'">
                        <p>
                            {{ 'ACTIVITY_DURATION_PER_PARTICIPANT' | translate }}
                        </p>
                    </div>
                    <div layout-gt-sm="row" ng-if="vm.submission.format && vm.submission.format !== 'FULLTIME'">
                        <md-input-container flex>
                            <label>{{ 'VISIT_DURATION_LABEL' | translate }}</label>
                            <input flex type="number" ng-model="vm.submission.visit_duration" aria-label="Visit Duration (in minutes)" min="0">
                        </md-input-container>
                    </div>
                </div>
            </section>

            <section id="costs_section" ng-if="vm.submission.type && vm.submission.type == 'WORKSHOP'">
                <h1 class="fc-section-title">{{ 'COSTS_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'COSTS_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-input-container md-no-float class="md-block" flex>
                        <label class="md-no-float">{{ 'COSTS_LABEL' | translate }}</label>
                        <input type="number" ng-model="vm.submission.costs" min="0">
                    </md-input-container>
                </div>
            </section>

            <section id="remarks_section" ng-if="vm.submission.type">
                <h1 class="fc-section-title">{{ 'REMARKS_SECTION_TITLE' | translate }}</h1>
                <p class="fc-section-summary">{{ 'REMARKS_SECTION_SUMMARY' | translate }}</p>
                <div class="fc-section-body">
                    <md-input-container md-no-float class="md-block" flex-gt-xs>
                        <input ng-model="vm.submission.general_remarks">
                    </md-input-container>
                </div>
            </section>

            <section id="controls" layout="row" layout-align="end stretch" ng-if="vm.submission.type">
                <div layout="column" layout-align="center center">
                    <md-checkbox class="md-primary" ng-model="vm.ready_to_publish" aria-label="Ready to publish" style="margin: 0;">
                        {{ 'SUBMISSION_COMPLETE_OPTION' | translate }}
                    </md-checkbox>
                </div>
                <span flex></span>
                <div layout="column" layout-align="center center">
                    <md-button ng-click="vm.save()" class="md-raised md-primary">{{ 'SAVE' | translate }}</md-button>
                </div>

            </section>
        </form>
    </div>
    </md-content>

    <!--<md-sidenav-->
            <!--class="md-sidenav-right"-->
            <!--md-component-id="right"-->
            <!--md-is-locked-open="$mdMedia('gt-md')"-->
            <!--md-whiteframe="4" ng-if="vm.comments && vm.comments.data && vm.comments.data.length > 0">-->
        <!--<md-content flex>-->
            <!--<md-list class="md-dense" flex>-->
                <!--<md-list-item ng-repeat="comment in vm.comments.data" class="md-3-line" >-->
                    <!--<md-icon md-font-icon="lnr-warning" class="lnr md-avatar"></md-icon>-->
                    <!--<div class="md-list-item-text" layout="column">-->
                        <!--<h4>{{comment.data.message}}</h4>-->
                        <!--<span class="md-caption" am-time-ago="comment.data.timestamp | amParse"></span>-->
                        <!--<div layout="column">-->
                            <!--<div layout="row" ng-repeat="delta in comment.data.diff" layout-align="space-between center">-->
                                <!--<span class="md-caption">{{ delta.path.join(', ') }}</span>-->
                                <!--<span class="md-caption" ng-if="delta.kind == 'N'"> SET </span>-->
                                <!--<span class="md-caption" ng-if="delta.kind == 'D'"> DEL </span>-->
                                <!--<span class="md-caption" ng-if="delta.kind == 'E'"> SET </span>-->
                                <!--<span class="md-caption" ng-if="delta.kind == 'A'"> ADD </span>-->
                                <!--<span class="md-caption" flex>{{ delta.rhs | limitTo:100 }}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<md-divider></md-divider>-->
                <!--</md-list-item>-->
            <!--</md-list>-->
        <!--</md-content>-->
        <!--<md-divider></md-divider>-->
        <!--<div layout="row" layout-align="start stretch">-->
            <!--<md-input-container md-no-float flex>-->
                <!--<label class="md-no-float">{{ 'MESSAGE' | translate }}</label>-->
                <!--<textarea ng-model="vm.comment" rows="3"></textarea>-->
            <!--</md-input-container>-->
            <!--<md-button>{{ 'BTN_SEND' | translate }}</md-button>-->
        <!--</div>-->
    <!--</md-sidenav>-->
</div>
